# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
sendgrid.env
*.swp
Thumbs.db
analytics.php
settings.php
# schema.sql
/vendor
/app/
/util/*
!/util/base64url.php
config.php
models.php
