<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" defaultTestSuite="unit">
  <testsuites>
    <testsuite name="unit">
      <file>tests/ApiTest.php</file>
      <file>tests/Bz2CodecTest.php</file>
      <file>tests/DatabaseTest.php</file>
      <file>tests/FunctionTest.php</file>
      <file>tests/HmacSessionStrategyTest.php</file>
      <file>tests/McpControllerToolsTest.php</file>
      <file>tests/McpEndpointTest.php</file>
      <file>tests/McpModelToolsTest.php</file>
      <file>tests/McpPageToolsTest.php</file>
      <file>tests/McpScopeTest.php</file>
      <file>tests/McpTokenStrategyTest.php</file>
      <file>tests/ModelTest.php</file>
      <file>tests/SignatureTest.php</file>
      <file>tests/VersionTest.php</file>
    </testsuite>
    <testsuite name="aws">
      <file>tests/AwsAcmTest.php</file>
      <file>tests/AwsCredentialTest.php</file>
      <file>tests/AwsKmsTest.php</file>
      <file>tests/AwsS3Test.php</file>
      <file>tests/AwsSesTest.php</file>
      <file>tests/AwsWebsiteTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
