<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">

    <php>
        <server name="KYTE_DB_USERNAME" value="root" />
        <server name="KYTE_DB_PASSWORD" value="" />
        <server name="KYTE_DB_HOST" value="localhost" />
        <server name="KYTE_DB_DATABASE" value="kytedev" />
        <server name="KYTE_DB_CHARSET" value="utf8" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>